<div class="m-2 d-flex justify-content-between align-items-center">
  <h1><%= @restaurant.name %></h1>
  <%= link_to "add a review", new_restaurant_review_path(@restaurant.id), class: "btn btn-primary" %>
</div>
<p class="m-2">Address - <%= @restaurant.address %> </p>
<p class="m-2">Cusine - <%= @restaurant.category %></p>
<p class="m-2">Phone Number - <%= @restaurant.phone_number.nil? ? "N/A" : @restaurant.phone_number %></p>

<br>
<br>
<div class="review-box m-2">
  <h2>Reviews</h2>
  <% @restaurant.reviews.each do |review| %>
    <p class="text-right"> <%= (review.created_at).strftime("%d %b %Y (%H:%M)") %> </p>
    <p class="card p-2"><%= review.content %></p>
  <% end %>
</div>

