<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=" navbar text-right">
      <%= link_to "Home", restaurants_path, class: "btn btn-primary" %>
    </div>
    <div class="container w-50">
      <%= yield %>
    </div>
  </body>
</html>
